*{
	/* font-family:Verdana, Geneva, Tahoma, sans-serif */
	box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;

    font-size: 15px;
    /* background-color: #2c3840; */

    /* color: #d6d8db; */
}




/* Code pour la page compétences */

.competences {
    text-align: justify;
}

.competences section {
    padding: 20px;
}

.competences h2 {
    text-align: center;
}

.university {
    width: 50%;
    margin:auto;
    display: block;

    border-radius: 5px;
}

.award {
    float: right;
    width: 25%;

    margin: 10px;
    border-radius: 5px;
    border: 1px solid indigo;
}

.experiences > li {
    margin: 5px;
}

.atouts {
    list-style-type: square;
}

.atouts > li {
    margin: 5px;
}

.atouts > li::first-letter {
    font-size: 1.3em;
    font-weight: bold;
}

.aptitudes > div {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}









/* Code pour la page galerie */

.galerie {
    margin: 20px;
}

.galerie > div {
    margin: 12.5px;
}
.galerie .img {
    width: 31%;
    margin: 10px;

    display: inline-block;
    min-height: 188px;

    box-shadow: 5px 5px 5px black;
}

.galerie .img:hover {
    box-shadow: none;
    border: none;
}

.rangee1 .img {
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: 10px;
    border-radius: 7px;
}

.img1 {
    background-image: url("/assets/img/automne.webp") ;
}

.img2 {
    background-image: url("/assets/img/last-dive.webp") ;
}

.img3 {
    background-image: url("/assets/img/autochtone.png") ;
}

.rangee2 img {
    border: 2px solid rgb(82, 51, 42);
}

.img4 {
    border-radius: 5%;
}

.img5 {
    border-radius: 50%;
}

.intro {
    text-align: center;
}








/* Code pour la page contact */

.contact-infos {
    text-align: center;
}

.contact-infos > div {
    float: left;
    width: 50%;
}

.contact-infos > ul {
    padding: 30px;
}

.telephone {
    color: orange;
    margin: 25px;

    font-weight: bold;
}

.sprites {
    list-style-type: none;
}

.sprites li {
    display: inline-block;
    margin: 5px;
}

.sprites a {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.sprites a {
    background-image: url("/assets/img/media_sprites.png");
}

.sprite1 {
    background-position: -100px -10px;
}

.sprite2 {
    background-position: -55px -10px;
}

.sprite3 {
    background-position: -10px -10px;
}



.svg {
    clear: both;
}