@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


/* Code CSS commun aux quatre pages */

*{
	box-sizing: border-box;
}

body {
	background-color: #748796;
	background-color: #91a4b3;
	color: #000000;
    font-size: 15px;
	margin: 0;
	padding: 0;
}

footer {
	width: 100%;
	height: 300px;
	background-color: #172027;
	padding: 10%;
	text-align: center;
}

footer p {
	margin: 15px;
	color: #ffffffad;
	display: inline-block;
}

nav {
	background-color: #172027;
	margin-bottom: 20px;
	
	font-family: "Sour Gummy", sans-serif;
}

nav ul {
    list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

nav li {
    display: inline-block;
	margin: 0px 20px;
	padding: 10px;

	min-width: 120px;
}

nav li:hover {
	background-color: white;
}

nav a {
	text-decoration: none;
	color: rgb(21, 153, 120);
}

/* nav a:visited {
	color: grey;
} */

nav a:focus, nav a:hover {
	text-decoration: underline;
	color: #000000;
}

.float-right {
	float:right;
}

.float-left {
	float:left;
}

.intro {
    text-align: center;
}

.header-competence, .header-contact, .header-galerie {
	text-indent: 15%;
	font-size: 2.1em;

	margin: 0;
	padding: 20px;

	background-color: #06414e;

	font-family: "Caveat", cursive;
}








/* Code CSS pour la page d'accueil */

.header-accueil {
	background-image:linear-gradient(to right, #072b4b, #579494);
	text-align: center;
}


.image0 {
	margin:20px;
}

.nom {
	margin-bottom: 30px;
	font-size: 70px;

	font-family: "Caveat", cursive;
}

.citation {
	padding: 10px;
	display: block;
	text-align: center;
}

.chapitre {
	background-color: #48626F;
	border-radius: 20px;
	clear: both;
	overflow: hidden;
	padding: 40px;
	margin: 30px;
}

.titre-chapitre {
	text-align: center;
	padding: 15px;
	font-style: italic;
}

.description {
	text-align: justify;
}

.chapitre-img {
	/* border: 1px solid #000000; */
	border-radius: 20px;
	margin: 10px;
	position: relative;
	top: -90px;

}

#photo1 {
	height: 300px;
}

#photo2 {
	width: 300px;
}

#photo3 {
	background-image: url(assets/img/ville.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: contain;
	background-position:right;
	height:320px;
	width: 380px;
	display: inline-block;
}








/* Code CSS pour la page compétences */

.competences {
    text-align: justify;
}

.competences section {
    padding: 20px;
}

.competences h2 {
    text-align: center;
	font-family: "Josefin Sans", sans-serif;
}

.competences h3 {
	font-family: "Josefin Sans", sans-serif;
}

.university {
    width: 50%;
    margin:auto;
    display: block;

    border-radius: 5px;
}

.award {
    float: right;
    width: 25%;

    margin: 10px;
    border-radius: 5px;
    border: 1px solid indigo;
}

.redirection {
	color: #06414e;
	text-decoration: none;
}

.redirection:hover {
	text-decoration: none;
}

.experiences > li {
    margin: 5px;
}

.atouts {
    list-style-type: square;
}

.atouts > li {
    margin: 5px;
}

.atouts > li::first-letter {
    font-size: 1.3em;
    font-weight: bold;
}

.aptitudes > div {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
}








/* Code CSS pour la page galerie */

.galerie {
    margin: 20px;
}

.galerie > div {
    margin: 25px;
}
.galerie .img {
    width: 31%;
    margin-left: 10px;
	margin-right: 10px;

    display: inline-block;
    min-height: 188px;

    box-shadow: 5px 5px 5px black;
}

.galerie .img:hover {
    box-shadow: none;
    border: none;

	transition: transform 1s ease;

	transform: scale(1.07);
}

.rangee1 .img {
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: 10px;
    border-radius: 7px;
}

.img1 {
    background-image: url("/assets/img/automne.webp") ;
}

.img2 {
    background-image: url("/assets/img/last-dive.webp") ;
}

.img3 {
    background-image: url("/assets/img/autochtone.png") ;
}

.rangee2 img {
	border-radius: 7px;
	height: 290px;
}

.rangee3 img {
    border: 2px solid rgb(82, 51, 42);
}

.img7 {
    border-radius: 5%;
}

.img8 {
    border-radius: 50%;
}








/* Code CSS pour la page contact */

.contact-infos {
    text-align: center;
}

.contact-infos > div {
    float: left;
    width: 50%;
}

.contact-infos > ul {
    padding: 30px;
}

.telephone {
    color: orange;
    margin: 25px;

    font-weight: bold;
}

.mail {
	color: #06414e;
	text-decoration: none;
}

.mail:hover {
	text-decoration: none;
}

.sprites {
    list-style-type: none;
}

.sprites li {
    display: inline-block;
    margin: 5px;
}

.sprites a {
    width: 25px;
    height: 25px;
    display: inline-block;
}

.sprites a {
    background-image: url("/assets/img/media_sprites.png");
}

.sprite1 {
    background-position: -100px -10px;
}

.sprite2 {
    background-position: -55px -10px;
}

.sprite3 {
    background-position: -10px -10px;
}

@keyframes slide {
	0% {
		left: 5%;
		transform: scale(1);
	}

	25% {
		transform: scale(0.8);
	}

	50% {
		left: 70%;
		transform: scale(1);
	}

	75% {
		transform: scale(0.8);
	}

	100% {
		left: 5%;
		transform: scale(1);
	}
}

.svg {
    clear: both;
}

.svg img {
	position: relative;
	animation: slide 10s infinite;
}


/* 
	Kuza Twagiramungu (20317467)
	Josué Mongan (20290870) */

